TZ=Asia/Shanghai

MYSQL_PORT=3306
MYSQL_DATABASE=course_share
MYSQL_ROOT_PASSWORD=123456

REDIS_PORT=6379

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=course-material
MINIO_PUBLIC_ENDPOINT=http://localhost:9000

BACKEND_PORT=18080
NGINX_PORT=80
JAVA_OPTS=-Xms256m -Xmx512m
